@import '../modules/travel-section';
@import '../modules/places-autocomplete';

.travel__title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 5px;
  
  font-size: 6.5rem;
  font-weight: 600;
  
  z-index: 2;
}

.travel__location {
  position: relative;
  margin: 0;
  
  font-size: 2.5rem;
  font-weight: 300;
  
  z-index: 2;
}

.travel__date {
  font-size: 1.8rem;
  text-align: right;
  text-transform: uppercase;
}

.travel__date.inline-editable {
  padding-right: 0; 
}

.travel__date.inline-editable:focus,
.travel__date.inline-editable.is-saved{
  padding-right: 100px;
}

.travel-sections:not(:empty) {
  margin-top: 30px;
}

.author-footer {
  margin-top: 80px;
  
  text-align: center;
}

.travel-mode {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -80px;
  
  display: block;
  width: 160px;
  
  background-color: #fbda38;
  
  text-align: center;
  font-size: 1.4rem;
  line-height: 4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  
  z-index: 10;  
}

.travel-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  
  background-color: rgba(0,0,0,.7);
  
  text-align: center;
}

.travel-actions__wrapper {
  height: 100%;
  position: relative;
}

.remove-travel-trigger {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}

.travel-actions__button {
  padding: 0 20px;
  
  border: 0;
  
  background: none;
  
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 6rem;
  
  &:hover {
    background-color: #000;
  }
  
  &.is-active {
    background-color: #fbda38;
    color: #000;
  }
}