.travel__title {
  margin-top: 30px;
  margin-bottom: 5px;
  
  font-size: 6.5rem;
  font-weight: 600;
}

.travel__location {
  margin: 0;
  
  font-size: 2.5rem;
  font-weight: 300;
}

.travel__date {
  font-size: 1.8rem;
  text-align: right;
  text-transform: uppercase;
}