/*****************************
 *
 * Site logo
 *
 *****************************/

.logo a {
  color: inherit;
  text-decoration: none;
}

.logo--inline {
  margin-top: 0;
  
  font-size: 2.7rem;
  font-weight: 300;
}

.logo--inline i {
  
}

.logo--big {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}

.logo--big i {
  font-size: 150%;
}

@media (min-width: @sm-min-width) {
  .logo--big {
    font-size: 6.55rem;
  }
}