.travel-content {
  padding-top: 20px;
  
  .travel-content__editor {
    display: none;
    width: 100%;
    min-height: 100px;
    
    border: 0;
    outline: 0;
    
    font-size: 1.4rem;
    
    resize: none;
  }
  
  &.show-editor .travel-content__editor {
    display: block;
  }
}