.travel-content {
  padding-top: 20px;
  
  text-align: center;
  
  .travel-content__editor {
    display: none;
    width: 100%;
    min-height: 100px;
    
    border: 0;
    outline: 0;
    
    font-size: 1.4rem;
    text-align: center;
    
    resize: none;
  }
  
  &.show-editor .travel-content__preview {
    display: none;
  }
  
  &.show-editor .travel-content__editor {
    display: block;
  }
  
  h2 {
    display: inline-block;
    position: relative;
    margin: 50px 0 30px;
    padding-bottom: 30px;

    font-size: 5rem;
    
    &:after {
      content: "";
      display: block;
      width: 80%;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 50%;
      margin-left: -40%;

      border-top: 1px solid rgba(64, 80, 91, .2);
    }
  }
  
  p {
    margin-top: 0;

    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}