/*****************************
 *
 * Form style
 * 
 * Menu:
 *  1. Form base
 *  2. Inputs
 *  3. Buttons
 *  4. Form styles
 *
 *****************************/

/***[ 1. Form base ]***/

.form__title {
  margin: 0 0 30px;
  
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form__link {
  display: block;
  margin-bottom: 10px;
  
  color: inherit;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: @sm-min-width) {
  .form__title {
    font-size: 2.4rem;
  }
  
  .form__link {
    display: inline;
    margin: 0;
    
    text-align: left;
  }
  
  .form__fotter > .form__link:nth-child(2) {
    float: right;
  }
}

/***[ 2. Inputs ]***/

.input {
  padding: 1rem 1.8rem;
  
  border: 1px solid #1f282e;
  
  font-size: 2.2rem;
  line-height: 4rem;
  color: #1f282e;
  
  transition-duration: .3s;
  transition-property: background, border;
}

/***[ 3. Buttons ]***/

.button {
  display: inline-block;
  border: none;
  padding: 0 20px;
  
  background-color: #1f282e;
  
  line-height: 6rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  
  cursor: pointer;
  
  &:hover {
    background-color: #fbda38;
    color: #6f5b0b;
  }
}

.button--small {
  padding: 0 10px;
  
  font-size: 1.4rem;
  line-height: 3rem;
}

.button--danger {
  background-color: #df3f3f;
}

/***[ 4. Form styles ]***/

.form--block .input,
.form--block .button {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}

.form--light {
  color: #fff; 
}

.form--light .input {
  border-color: rgba(255, 255, 255, .3);
  
  background-color: rgba(255, 255, 255, .04);
  
  color: #fff;
}

.form--light .input:focus {
  border-color: rgba(255, 255, 255, .6);
  
  background-color: rgba(255, 255, 255, .2);
}

.form--light .button:not(:hover) {
  background-color: #fff;
  
  color: #000;
}

.form--light input.is-invalid {
  margin-bottom: 0;
  
  border-color: rgba(169, 68, 66, 0.5); 
}