.message {
  padding: 10px;
  
  font-size: 1.4rem; 
  background: #fff;
  color: #000;
}

.message--dark {
  background-color: #000;
  color: #fff;
  
  opacity: .5;
}

.message--error {
  border-left: 10px solid #a94442; 
}